<!DOCTYPE html>
<html>
<head>
	<title>Kakuro</title>

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"
		integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU="
		crossorigin="anonymous"></script>

	<link href="kakuro.css" rel="stylesheet">
	<script src="possible_values.js"></script>
	<script src="kakuro.js"></script>
</head>
<body ng-app="kakuro" ng-controller="kakuro.body.controller as body" ng-keydown="body.handleKeys($event)">
	<h1 id="title">Kakuro</h1>

	<div class="loading-message" ng-show="::false">Doing math...</div>

	<div id="board-wrapper" ng-cloak>
		<table id="board">
			<tr data-ng-repeat="row in body.board">
				<td data-ng-repeat="cell in row" ng-class="{ 'focus': (cell === body.focus.cell) }">
					<div ng-if="cell.type === 'none'" class="none"></div>
					<div ng-if="cell.type === 'empty'" class="empty" ng-class="{ 'hasNum': !!(cell.right || cell.down) }">
						<div class="right" ng-bind="cell.right"
							ng-class="{ 'invalid': (cell.errors['right-no-space'] || cell.errors['right-sum']) }"></div>
						<div class="down" ng-bind="cell.down"
							ng-class="{ 'invalid': (cell.errors['down-no-space'] || cell.errors['down-sum']) }"></div>
					</div>
					<div ng-if="cell.type === 'cell' && !cell.value" class="cell-possible">
						<div ng-repeat="(n, p) in cell.possible" ng-bind="p ? n : ''"></div>
					</div>
					<div ng-if="cell.type === 'cell' && !!cell.value" class="cell"
						ng-class="{ 'invalid': (cell.errors['value-impossible'] || cell.errors['value-duplicate']) }"
						ng-bind="cell.value"></div>
				</td>
			</tr>
		</table>
	</div>

	<div id="extra-info" ng-cloak>
		<div ng-if="body.showSetup">
			<h2>Still defining the board</h2>
			<p>
				<span class="badge badge-primary" ng-bind="body.board.$stats.noneCount"></span>
				remaining spaces to define.
			</p>
			<p>
				<button type="button" class="btn-primary" ng-click="body.save()">Save</button>
				<input id="copyText" ng-value="body.saveStr" />
			</p>
		</div>

		<div>
			<h2>Focus <small ng-bind="body.focus.cell.type"></small></h2>

			<p ng-if="body.focus.cell.errors['value-impossible']"><span class="error-label">value-impossible</span> The specified value is not one of the possible values.</p>
			<p ng-if="body.focus.cell.errors['value-duplicate']"><span class="error-label">value-duplicate</span> The specified value is used more than once in it's row/col.</p>
			<p ng-if="body.focus.cell.errors['right-no-space']"><span class="error-label">right-no-space</span> There isn't enough room for a row.</p>
			<p ng-if="body.focus.cell.errors['down-no-space']"><span class="error-label">down-no-space</span> There isn't enough room for a col.</p>
			<p ng-if="body.focus.cell.errors['right-sum']"><span class="error-label">right-sum</span> The row is completed and the values don't match the advertised sum.</p>
			<p ng-if="body.focus.cell.errors['down-sum']"><span class="error-label">down-sum</span> The col is completed and the values don't match the advertised sum.</p>

			<div ng-if="body.focus.cell.type === 'empty'">
				<div ng-if="!!body.focus.cell.right">
					<h3>Row</h3>
					<p>
						Sum: <span class="badge badge-primary" ng-bind="body.focus.cell.right"></span>,
						Len: <span class="badge badge-primary" ng-bind="body.focus.cell.rightLength"></span>
					</p>
					<p>{{body.possibleValues(body.focus.cell, 'right')}}</p>
				</div>

				<div ng-if="!!body.focus.cell.down">
					<h3>Col</h3>
					<p>
						Sum: <span class="badge badge-primary" ng-bind="body.focus.cell.down"></span>,
						Len: <span class="badge badge-primary" ng-bind="body.focus.cell.downLength"></span>
					</p>
					<p>{{body.possibleValues(body.focus.cell, 'down')}}</p>
				</div>
			</div>
			<div ng-if="body.focus.cell.type === 'cell'">
				<h3>Row</h3>
				<p>
					Sum: <span class="badge badge-primary" ng-bind="body.focus.cell.$rightHead.right"></span>,
					Len: <span class="badge badge-primary" ng-bind="body.focus.cell.$rightHead.rightLength"></span>
				</p>
				<p>{{body.possibleValues(body.focus.cell.$rightHead, 'right')}}</p>

				<h3>Col</h3>
				<p>
					Sum: <span class="badge badge-primary" ng-bind="body.focus.cell.$downHead.down"></span>,
					Len: <span class="badge badge-primary" ng-bind="body.focus.cell.$downHead.downLength"></span>
				</p>
				<p>{{body.possibleValues(body.focus.cell.$downHead, 'down')}}</p>
			</div>
		</div>

		<div ng-if="body.showDemo">
			<h2>Demo Stuff</h2>

			<form name="makeBoardForm">
				<!-- TODO style input -->
				<!-- TODO validate integers? -->
				<label>w</label> <input type="number" name="width" min="3" max="15" ng-model="body.formData.width" />
				<label>h</label> <input type="number" name="height" min="3" max="15" ng-model="body.formData.height" />
				<button type="submit" class="btn-primary" ng-disabled="makeBoardForm.$invalid" ng-click="body.makeBoard()">Make Board</button>
			</form>

			<button type="button" class="btn-primary" ng-repeat="(name, def) in body.PREDEFINED_BOARDS"
				ng-bind="name" ng-click="body.loadBoard(def)"></button>
		</div>

		<div id="keys-summary">
			<h2>Keys</h2>
			<dl>
				<dt>&uarr;&rarr;&darr;&larr;</dt><dd>Move cursor.</dd>
				<dt>e</dt><dd>Specify an empty cell, a cell that cannot have numbers. This will prompt for right/down sums.</dd>
				<dt>c</dt><dd>Specify a cell as one that can have a value. This will clear the number already used.</dd>
				<dt>r</dt><dd>Reset the possible values and run the base heuristic again.</dd>
				<dt>1 - 9</dt><dd>Set the value of a cell (only for ones that can have a number).</dd>
			</dl>
		</div>
	</div>
</body>
</html>