@import 'css-variables/dark.css';

/* general reset/setup */

* {
	margin: 0;
	padding: 0;
}
body {
	--fontHeight: 10px;
	--valueFontHeight: calc(3 * var(--fontHeight));
	--cellSize: calc(4 * var(--fontHeight));

	color: var(--primaryTextColor);
	background-color: var(--textPrimaryColor);
	font-size: var(--fontHeight);
	font-family: sans-serif;
}
h1, h2, h3, h3, h4, h5, h6 {
	font-weight: lighter;
}
h1 {
	font-size: 3em;
}
p {
	margin-bottom: 0.5em;
}
:focus {
	outline-color: var(--darkPrimaryColor);
}
::selection {
	background: var(--dividerColor);
}

/* random mixin */

.invalid {
	color: var(--accentColor);
}

.error-label {
	color: var(--textPrimaryColor);
	background-color: var(--accentColor);
	padding: 0 1ch;
	border-radius: 0.5em;
}

.ng-hide.ng-hide-animate {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.badge {
	border-radius: 0.5em;
	padding: 0 0.5em;
}
.badge-primary {
	color: var(--textPrimaryColor);
	background-color: var(--primaryColor);
}


input {
	padding: 0.5em 2ch;
	border-radius: 0.5em;
	border-color: var(--primaryTextColor);
	margin: 0 0.5em 0.5em 0;

	color: var(--primaryTextColor);
	background-color: var(--textPrimaryColor);
}
input.ng-dirty.ng-invalid {
	color: var(--accentColor);
}

button {
	padding: 0.5em 2ch;
	border-radius: 0.5em;
	font-weight: bold;
	cursor: pointer;
	margin: 0 0.5em 0.5em 0;
}
button[disabled] {
	color: var(--textPrimaryColor);
	background-color: var(--dividerColor);
	cursor: not-allowed;
}
.btn-primary {
	color: var(--textPrimaryColor);
	background-color: var(--primaryColor);
	border-color: var(--primaryColor);
}
.btn-accent {
	color: var(--textPrimaryColor);
	background-color: var(--accentColor);
	border-color: var(--accentColor);
}

/* page layout */

body {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"title title"
		"loading loading"
		"board info";
}
#title {
	grid-area: title;
	text-align: center;
}
.loading-message {
	grid-area: loading;
	text-align: center;
}
#board-wrapper {
	grid-area: board;
}
#extra-info {
	grid-area: info;
}

/* style top stuff */

#title {
	margin: var(--fontHeight) 0;
}
.loading-message {
	font-size: 4em;
	color: var(--accentColor);
}

/* style board */

table#board {
	border-spacing: 0;
	border-collapse: collapse;
	color: var(--primaryColor);

	margin: 0 1em 0 auto; /* right align */
}
table#board td {
	border-width: 1px;
	border-style: solid;
	border-color: var(--primaryColor);
	width: var(--cellSize);
	height: var(--cellSize);
}

/* sizing and spacing for none, empty, cell, cell-possible */
/* all of these are css grids */
table#board td > * {
	width: 100%;
	height: 100%;
	text-align: center;
	align-items: center;
}

#board .none {
	background-color: var(--dividerColor);

	/* doesn't actually have any content */
}

#board .empty {
	background-color: var(--primaryColor);
	color: var(--textPrimaryColor);

	/* 4x4 grid, only 2 are used */
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		". right"
		"down .";
}
#board .empty .right {
	grid-area: right;
}
#board .empty .down {
	grid-area: down;
}
#board .empty.hasNum::after {
	/* add a diagonal line */
	content: " ";
	position: absolute;
	border-width: 0.5px;
	border-style: solid;
	border-color: var(--textPrimaryColor);
	width: calc(var(--cellSize) * 1.4142);
	transform-origin: 1px 0;
	transform: rotate(45deg);
}

#board .cell {
	font-weight: lighter;
	font-size: var(--valueFontHeight);
	background-color: var(--textPrimaryColor);

	/* 1x1 grid, mostly for the sake of centering numbers */
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

#board .cell-possible {
	color: var(--secondaryTextColor);
	background-color: var(--textPrimaryColor);

	/* 9x9 grid */
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

/* make sure we know where the cursor is */
#board td.focus,
#board td.focus > * {
	background-color: var(--lightPrimaryColor);
}

/* style right stuff */

#extra-info {
	font-size: calc(var(--fontHeight) * 1.5);
}
#extra-info > * + * {
	margin-top: 1em;
}
#extra-info > * > h2 {
	margin-bottom: 0.25em;
}

#keys-summary dl dt {
	width: 8ch;
	display: inline-block;
}
#keys-summary dl dd {
	display: inline;
}
#keys-summary dl dd::after {
	content: " ";
	display: block;
}
